{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>   
{% endblock %}


{% block content %}
    <div class="container h-1003">
        <div class="row h-100">
            <div class=".col-md-2 .offset-md-3 my-auto">
                <h4>
                    <a href="" class="custom-order-button btn btn-lg rounded-0 text-uppercase py-3">Order Custom Print</a>
                </h4>
            </div>
            <div class=".col-md-2 .offset-md-3 my-auto">
                <a href="" class="custom-order-button btn btn-lg rounded-0 text-uppercase py-3">Browse Our Products</a>
            </div>
        </div>
    </div>
    
{% endblock %}