{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>   

    <style>
        body { background: #323744 !important; }
    </style>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2 bg-white">
                <h1>The big test-a-roony</h1>
            </div>
        </div>
    </div>  
{% endblock %}