{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 bg-main-blue">
                <!-- iFrame Widget for custom orders using TreatStock.com -->
                <link href="https://www.treatstock.com/css/embed-remote.css" rel="stylesheet" /><iframe class="ts-embed-printservice" width="100%" height="100%" style="height:1200px;" src="https://www.treatstock.com/my/print-model3d/widget?posUid=fixedPs&psId=4858" frameborder="0"></iframe>
            </div>
        </div>
    </div>  
{% endblock %}