html {
    height: 100%
}

body {
    background: url('/media/home_image.png') no-repeat center fixed, #323744;
    background-size: auto;
    height: calc(100vh - 164px);
    color: #000;
    font-family: 'Poppins', sans-serif;
}

#brand-img {
    margin-top: 0;
}

a:hover, .hover-class:hover { 
    text-decoration: none; 
    color: #eddd2d !important;
}

.hover-text-blue:hover {
    background-color: #76c4d2 !important;
}

.bg-main-blue {
    background-color: #323744;
}

.bg-transparent {
    background-color: rgba(0, 0, 0, 1);
}

.bg-text-blue {
    background-color: #76c4d2;
}

.bg-white {
    background-color: white;
}

.text-blue {
    color: #76c4d2;
}

.home-button-row {
    margin-top: 25vh;
}

.nav-link {
    padding: 0 !important;
}

.cart {
    min-height: 80vh;
}

.overlay {
	height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: #323744;
	z-index: -1;
}

/* Mobile styling */

.navbar {
    padding: 0 !important;
}

.fa-bars:before {
    padding: 10px;
}

.mobile-icon-padding {
    padding: 10px;
}


/* from Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.logo-font {
    text-transform: uppercase;
}

.custom-order-button {
    background: black;
    color: white;
    width: 280px;
    position: fixed;
    margin-top: 12vh;
    left: 62%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.browse-button {
    background: #76c4d2;
    color: black;
    width: 280px;
    position: fixed;
    margin-top: 12vh;
    left: 38%;
    top: 60%;
    transform: translate(-50%, -50%);
}

.keep-shopping-button {
    background: #76c4d2;
    color: black;
}

.add-button {
    background: black;
    color: white;
}

.add-button:hover {
    color: grey;
}

.btn-black {
    background: black;
    color: white;
}

.update-link,
.remove-item {
    cursor: pointer;
}

.custom-order-button:hover,
.custom-order-button:active,
.custom-order-button:focus,
.browse-button:hover,
.browse-button:active,
.browse-button:focus,
.btn-black:hover,
.btn-black:active,
.btn-black:focus {
    background: #222;
    color: white !important;
}

.custom-order-button:hover,
.custom-order-button:active,
.custom-order-button:focus{
    background: #76c4d2;
    color: black !important;
}


.browse-button:hover,
.browse-button:active,
.browse-button:focus{
    background: black;
    color: white;
}


.text-black {
    color: #000 !important;
}

.border-black {
    border: 1px solid black !important;
}

/* -------------------------------- Media Queries */

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
  .container {
    max-width: 80%;
  }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-padding {
        padding-top: 10vh;
    }
}

/* For smaller screens */ 
@media (max-width: 992px) {
    body {
        background-size: contain;
    }

    .custom-order-button {
        margin-top: 200px;
    }

    .browse-button {
        margin-top: 0px;
    }

    .button-div {
        padding: 0 !important;    }

    .browse-button {
    position: fixed;    
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    }

    .custom-order-button {
    position: fixed;
    margin-top: 12vh;
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
    }
}