<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto d-lg-none bg-text-blue">
        <li class="nav-link ml-3"><a href=""><p class="text-black"><strong>Shop</strong></p></a></li>
        <li class="nav-link ml-3"><a href=""><p class="text-black"><strong>Custom Print</strong></p></a></li>
        <li class="nav-link ml-3"><a href=""><p class="text-black"><strong>About Us</strong></p></a></li>
        <li class="dropdown ml-3 mb-0">
            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <div class="text-black">
                    <div><strong>My Account  <i class="fas fa-user"></i></strong></div>                    
                </div>
            </a>
            <div class="dropdown-menu border-0 bg-text-blue" aria-labelledby="user-options">
                {% if request.user.is_authenticated %}
                    {% if request.user.is_superuser %}
                        <a href="" class="dropdown-item">Product Management</a>
                    {% endif %}
                    <a href="" class="dropdown-item">My Profile</a>
                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                {% else %}
                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                {% endif %}
            </div>
        </li>
    </ul>
</div>