{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                {% if request.user.is_superuser %}
                    <div class="row">
                        <div class="col-12 text-center">
                            <a href="{% url 'add_post' %}" class="btn keep-shopping-button rounded-0 btn-lg mb-3">
                                <span class="text-uppercase">Add Post</span>
                                <span class="icon">
                                    <i class="fa fa-pencil"></i>
                                </span>
                            </a>
                        </div>
                    </div>
                {% endif %}
                <div class="col-10 offset-1 col-lg-4 offset-lg-4 mt-3 mb-3">
                    <form method="GET" action="{% url 'blog' %}">
                        <div class="input-group w-100">
                            <input class="form-control border border-black rounded-0" type="text" name="q" placeholder="Search our blog">
                            <div class="input-group-append">
                                <button class="form-control btn keep-shopping-button border border-black rounded-0 hover-class" type="submit">
                                    <span class="icon">
                                        <i class="fas fa-search"></i>
                                    </span>
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="row">                    
                    {% for blog in blogs %}
                        {% if blog.status == 'published' %}
                            <div class="col-10 col-lg-4">
                                <div class="card mb-3 bg-text-blue product-card">
                                    {% if blog.image %}
                                        <a href="{% url 'blog_post' blog.url %}">
                                            <img class="card-img-top blog-card-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'blog_post' blog.url %}">
                                            <img class="card-img-top blog-card-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                                        </a>
                                    {% endif %}
                                    {% if request.user.is_superuser %}
                                        <small class="ml-3">
                                            <a href="{% url 'edit_post' blog.url %}">Edit</a> | 
                                            <a class="text-danger" href="{% url 'delete_post' blog.url %}">Delete</a>
                                        </small>
                                    {% endif %}
                                    <a href="{% url 'blog_post' blog.url %}">
                                        <div class="card-body text-black">
                                            <h5 class="card-title text-center"><strong>{{ blog.title }}</strong></h5>
                                            <p id="text-{{ blog.url }}" class="card-text blog-blurb">{{ blog.content }}</p>
                                            <p class="card-text"><small class="text-muted">Posted: {{ blog.publish }} by <em>{{ blog.author }}</em></small></p>
                                        </div>
                                    </a>                                     
                                </div>                                
                            </div>                                                     
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>   
{% endblock %}

{% block postloadjs %}  
    {% for blog in blogs %}
        <!-- Gives a preview of the blog post text on each card -->
        <script>
            if ($('#text-{{ blog.url }}').text().length > 75) {
                let blurb = $('#text-{{ blog.url }}').text();
                blurb = blurb.substr(0,75) + '...';
                $('#text-{{ blog.url }}').text(blurb);
            }
        </script>
    {% endfor %}
{% endblock %}