{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="product-container col-10 offset-1">
                <div class="row mt-1 mb-2"></div>
                <div class="row">
                    {% for blog in blogs %}
                        {% if blog.status == 'published' %}
                            <div class="col-10 offset-1 col-md-4 offset-md-1">
                                <div class="card mb-3 bg-text-blue">
                                    {% if blog.image %}
                                        <a href="{% url 'blog_post' blog.url %}">
                                            <img class="card-img-top blog-card-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                                        </a>
                                    {% else %}
                                        <a href="{% url 'blog_post' blog.url %}">
                                            <img class="card-img-top blog-card-img" src="{{ MEDIA_URL }}noimage.png" alt="{{ blog.title }}">
                                        </a>
                                    {% endif %}
                                    <a href="{% url 'blog_post' blog.url %}">
                                        <div class="card-body text-black">
                                            <h5 class="card-title text-center"><strong>{{ blog.title }}</strong></h5>
                                            <p id="text-{{ blog.url }}" class="card-text blog-blurb">{{ blog.content }}</p>
                                            <p class="card-text"><small class="text-muted">Posted: {{ blog.publish }} by <em>{{ blog.author }}</em></small></p>
                                        </div>
                                    </a>
                                </div>                                
                            </div>                            
                        {% endif %}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>   
{% endblock %}

{% block postloadjs %}  
    {% for blog in blogs %}
        <!-- Gives a preview of the blog post text on each card -->
        <script>
            if ($('#text-{{ blog.url }}').text().length > 75) {
                let blurb = $('#text-{{ blog.url }}').text();
                blurb = blurb.substr(0,75) + '...';
                $('#text-{{ blog.url }}').text(blurb);
            }
        </script>
    {% endfor %}
{% endblock %}