{% extends "base.html" %}
{% load static %}

{% block page_header %}
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <br class="d-none d-md-block">
    <br class="d-none d-md-block">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 offset-md-3 bg-text-blue">
                <div class="image-container my-5">
                    {% if blog.image %}
                    <img class="card-img-top blog-main-img" src="{{ blog.image.url }}" alt="{{ blog.title }}">
                    {% endif %}
                </div>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-3 bg-text-blue text-center">
                <h2>{{ blog.title }}</h2>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pb-3 bg-text-blue text-center">
                <p class="card-text">
                    <small class="text-muted float-left">Posted: {{ blog.publish }}</em></small>
                    <small class="text-muted float-right">By <em>{{ blog.author }}</em></small>
                </p>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pt-5 bg-text-blue">
                <p>{{ blog.content }}</p>
            </div>
            <div class="col-12 col-md-6 offset-md-3 pt-5 pb-2 bg-text-blue">
                <a href="{% url 'blog' %}" class="btn keep-shopping-button rounded-0 btn-lg pl-0 ml-0">
                    <span class="icon">
                        <i class="fas fa-chevron-left"></i>
                    </span>
                    <span class="text-uppercase">Back</span>
                </a>
            </div>
        </div>
    </div>
{% endblock %}