{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>   

    <style>
        body { background: #323744 !important; }
    </style>
{% endblock %}


{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-10 offset-md-1 bg-main-blue">
                <h1>Is me, your boy with the 3D printer.</h1>
            </div>
        </div>
    </div>  
{% endblock %}